
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <h1>This is a About Page</h1>
    <p>@TempData["name"]</p>
</body>
</html>
