
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailsPage</title>
</head>
<body>
    <h3>Details Page</h3>
    <p>There are some error in the page</p>
</body>
</html>
